%display-block {
    display: block;
}

%display-none {
    display: none;
}

%display-inline-block {
    display: inline-block;
}

%display-initial {
    display: initial;
}

%display-inline {
    display: inline;
}

%display-flex {
    display: flex;
}

%position-absolute {
    position: absolute;
}

%position-relative {
    position: relative;
}

%position-fixed {
    position: fixed;
}

%border {
    border: $border;
}

%border-bottom {
    border-bottom: $border;
}

%border-none {
    border: none;
}

%border-top {
    border-top: $border;
}

%border-bottom {
    border-bottom: $border;
}

%border-left {
    border-left: $border;
}

%border-right {
    border-right: $border;
}

%border-top-dark {
    border-top: $border-dark;
}

%border-dark {
    border: $border-dark;
}

%border-bottom-dark {
    border-bottom: $border-dark;
}

%border-left-dark {
    border-left: $border-dark;
}

%border-secondary {
    border: $border-secondary;
}

%border-radius {
    border-radius: $border-radius;
}

%border-radius-large {
    border-radius: $border-radius-large;
}

%border-radius-sm {
    border-radius: $border-radius-sm;
}

%border-radius-rounded {
    border-radius: $border-radius-rounded;
}

%border-radius-circle {
    border-radius: 50%;
}

%float-right {
    float: right;
}

%float-left {
    float: left;
}

%float-none {
    float: none;
}

%width-full {
    width: 100%;
}

%text-center {
    text-align: center;
}

%text-right {
    text-align: right;
}

%text-left {
    text-align: left;
}

%font-style-normal {
    font-style: normal;
}
%text-transform-capitalize {
    text-transform: capitalize;
}
%text-transform-uppercase {
    text-transform: uppercase;
}
%width-full {
    width: 100%;
}

%align-items-center {
    align-items: center;
}

%justify-content-center {
    justify-content: center;
}

%justify-content-flex-start {
    justify-content: flex-start;
}

%justify-content-space-between {
    justify-content: space-between;
}
%justify-content-space-around {
    justify-content: space-around;
}
%align-items-flex-end {
    align-items: flex-end;
}

%flex-auto {
    flex: auto;
}

%flex-wrap {
    flex-wrap: wrap;
}

%flex-direction-row {
    flex-direction: row;
}
%flex-direction-column {
    flex-direction: column;
}
%vertical-align-middle {
    vertical-align: middle;
}

%break-word {
    word-break: break-word;
}

%list-style-none {
    list-style: none;
}

%text-decoration-none {
    text-decoration: none
}

%background-color-transparent {
    background-color: transparent;
}
%cursor-pointer {
    cursor: pointer;
}
%content-empty {
    content: " ";
}
%background-position {
    background-position: bottom;
}
%background-size-cover {
    background-size: cover;
}
%background-repeat-no{
    background-repeat: no-repeat;
}
%white-space-nowrap {
    white-space: nowrap;
}
%clear-both {
    clear: both;
}
%overflow-hidden {
    overflow: hidden;
}

%modal-company-logo {
    @extend %position-absolute;

    left: rem(-8);
    top: rem(-40);

    @include media-smaller-up() {
        left: rem(-40);
    }
}
